
ssd_inception_v2_coco_2017_11_17/frozen_inference_graph.pb
training/faster_rcnn_inception_v2_pets.config
*.data-00000-of-00001
faster_rcnn_inception_v2_coco_2018_01_28/frozen_inference_graph.pb
inference_graph/frozen_inference_graph.pb
inference_graph/model.ckpt.index
